<%= form_for(@userprofile) do |f| %>
  <% if @userprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprofile.errors.count, "error") %> prohibited this userprofile from being saved:</h2>

      <ul>
      <% @userprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Usertype %><br />
    <%= f.text_field :Usertype %>
  </div>
  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :Username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
